# Fake Profile Detection - Dataset 1 Exploratory

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_bot = bot_accounts = pd.concat(
    [
        pd.read_csv('../data/set-1/social_spambots_1.csv'),
        pd.read_csv('../data/set-1/social_spambots_2.csv'),
        pd.read_csv('../data/set-1/social_spambots_3.csv')
    ]
).reset_index(drop=True)

df_naive = pd.read_csv('../data/set-1/geniune_accounts.csv')

### Bot data information

In [3]:
df_bot.shape

(4912, 42)

In [4]:
df_bot.head()

,id,name,screen_name,statuses_count,followers_count,friends_count,favourites_count,listed_count,url,lang,...,notifications,description,contributors_enabled,following,created_at,timestamp,crawled_at,updated,test_set_1,test_set_2
0,24858289,Davide Bertoli,davideb66,1299,22,40,1,0,NaN,it,...,NaN,NaN,NaN,NaN,Tue Mar 17 08:51:12 +0000 2009,2009-03-17 09:51:12,2014-04-19 14:46:19,2016-03-15 14:12:22,1.0,NaN
1,33212890,Elisa D'Ospina,ElisaDospina,18665,12561,3442,16358,110,http://t.co/ceK8TovxwI,it,...,NaN,Autrice del libro #unavitatuttacurve dal 9 apr...,NaN,NaN,Sun Apr 19 14:38:04 +0000 2009,2009-04-19 16:38:04,2014-05-18 23:20:58,2016-03-15 14:17:13,1.0,NaN
2,39773427,Donato Vincenzo,Vladimir65,22987,600,755,14,6,NaN,it,...,NaN,[Live Long and Prosper],NaN,NaN,Wed May 13 15:34:41 +0000 2009,2009-05-13 17:34:41,2014-05-13 23:21:54,2016-03-15 14:16:44,1.0,NaN
3,57007623,Rafiela Morales L.,RafielaMorales,7975,398,350,11,2,NaN,en,...,NaN,"Cuasi Odontologa*♥,#Bipolar, #Sarcastica & Som...",NaN,NaN,Wed Jul 15 12:55:03 +0000 2009,2009-07-15 14:55:03,2014-05-19 23:24:18,2016-03-15 14:18:54,1.0,NaN
4,63258466,§ h a † u r♄,FabrizioC_c,20218,413,405,162,8,http://t.co/PK5F0JDKcy,it,...,NaN,"I shall rise from my own death, to avenge hers...",NaN,NaN,Wed Aug 05 21:12:49 +0000 2009,2009-08-05 23:12:49,2014-05-11 23:22:23,2016-03-15 14:17:05,1.0,NaN

In [5]:
df_bot.describe()

,id,statuses_count,followers_count,friends_count,favourites_count,listed_count,default_profile,default_profile_image,geo_enabled,profile_use_background_image,...,utc_offset,is_translator,follow_request_sent,protected,verified,notifications,contributors_enabled,following,test_set_1,test_set_2
count,4.912000e+03,4912.000000,4912.000000,4912.000000,4912.000000,4912.000000,338.0,47.0,33.0,4906.0,...,1220.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,991.0,464.0
mean,1.839241e+09,1500.429764,611.682614,589.786645,40.281148,2.202972,1.0,1.0,1.0,1.0,...,3570.491803,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0
std,8.429057e+08,6513.147343,7045.872547,2206.704458,1009.086857,31.224989,0.0,0.0,0.0,0.0,...,12231.431750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
min,1.619534e+07,5.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.0,1.0,1.0,...,-36000.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0
25%,6.135473e+08,46.000000,3.000000,36.000000,0.000000,0.000000,1.0,1.0,1.0,1.0,...,-7200.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0
50%,2.356235e+09,63.000000,6.000000,40.000000,0.000000,0.000000,1.0,1.0,1.0,1.0,...,10800.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0
75%,2.368619e+09,107.000000,11.000000,47.000000,0.000000,1.000000,1.0,1.0,1.0,1.0,...,10800.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0
max,2.525273e+09,214410.000000,464136.000000,90861.000000,50699.000000,1954.000000,1.0,1.0,1.0,1.0,...,32400.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0

In [6]:
df_bot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4912 entries, 0 to 4911
Data columns (total 42 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   id                                  4912 non-null   int64
 1   name                                4912 non-null   object
 2   screen_name                         4912 non-null   object
 3   statuses_count                      4912 non-null   int64
 4   followers_count                     4912 non-null   int64
 5   friends_count                       4912 non-null   int64
 6   favourites_count                    4912 non-null   int64
 7   listed_count                        4912 non-null   int64
 8   url                                 285 non-null    object
 9   lang                                4912 non-null   object
 10  time_zone                           1220 non-null   object
 11  location                            812 non-null    object
 12  default_profile                     338 non-null    float64
 13  default_profile_image               47 non-null     float64
 14  geo_enabled                         33 non-null     float64
 15  profile_image_url                   4912 non-null   object
 16  profile_banner_url                  134 non-null    object
 17  profile_use_background_image        4906 non-null   float64
 18  profile_background_image_url_https  4912 non-null   object
 19  profile_text_color                  4912 non-null   object
 20  profile_image_url_https             4912 non-null   object
 21  profile_sidebar_border_color        4912 non-null   object
 22  profile_background_tile             3944 non-null   float64
 23  profile_sidebar_fill_color          4912 non-null   object
 24  profile_background_image_url        4912 non-null   object
 25  profile_background_color            4912 non-null   object
 26  profile_link_color                  4912 non-null   object
 27  utc_offset                          1220 non-null   float64
 28  is_translator                       0 non-null      float64
 29  follow_request_sent                 0 non-null      float64
 30  protected                           0 non-null      float64
 31  verified                            0 non-null      float64
 32  notifications                       0 non-null      float64
 33  description                         1417 non-null   object
 34  contributors_enabled                0 non-null      float64
 35  following                           0 non-null      float64
 36  created_at                          4912 non-null   object
 37  timestamp                           4912 non-null   object
 38  crawled_at                          4912 non-null   object
 39  updated                             4912 non-null   object
 40  test_set_1                          991 non-null    float64
 41  test_set_2                          464 non-null    float64
dtypes: float64(15), int64(6), object(21)
memory usage: 1.6+ MB

### Naive data information

In [7]:
df_naive.shape

(3474, 42)

In [8]:
df_naive.head()

,id,name,screen_name,statuses_count,followers_count,friends_count,favourites_count,listed_count,url,lang,...,notifications,description,contributors_enabled,following,created_at,timestamp,crawled_at,updated,test_set_1,test_set_2
0,1502026416,TASUKU HAYAKAWA,0918Bask,2177,208,332,265,1,NaN,ja,...,NaN,15years ago X.Lines24,NaN,NaN,Tue Jun 11 11:20:35 +0000 2013,2013-06-11 13:20:35,2015-05-02 06:41:46,2016-03-15 15:53:47,0,0
1,2492782375,ro_or,1120Roll,2660,330,485,3972,5,NaN,ja,...,NaN,保守見習い地元大好き人間。 経済学、電工、仏教を勉強中、ちなDeではいかんのか？ (*^◯^*),NaN,NaN,Tue May 13 10:37:57 +0000 2014,2014-05-13 12:37:57,2015-05-01 17:20:27,2016-03-15 15:53:48,0,0
2,293212315,bearclaw,14KBBrown,1254,166,177,1185,0,NaN,en,...,NaN,Let me see what your best move is!,NaN,NaN,Wed May 04 23:30:37 +0000 2011,2011-05-05 01:30:37,2015-05-01 18:48:28,2016-03-15 15:53:48,0,0
3,191839658,pocahontas farida,wadespeters,202968,2248,981,60304,101,http://t.co/rGV0HIJGsu,en,...,NaN,20. menna: #farida #nyc and the 80s actually y...,NaN,NaN,Fri Sep 17 14:02:10 +0000 2010,2010-09-17 16:02:10,2015-05-01 13:55:16,2016-03-15 15:53:48,0,0
4,3020965143,Ms Kathy,191a5bd05da04dc,82,21,79,5,0,NaN,en,...,NaN,Cosmetologist,NaN,NaN,Fri Feb 06 04:10:49 +0000 2015,2015-02-06 05:10:49,2015-05-02 01:17:32,2016-03-15 15:53:48,0,0

In [9]:
df_naive.describe()

,id,statuses_count,followers_count,friends_count,favourites_count,listed_count,default_profile,default_profile_image,geo_enabled,profile_use_background_image,...,utc_offset,is_translator,follow_request_sent,protected,verified,notifications,contributors_enabled,following,test_set_1,test_set_2
count,3.474000e+03,3474.000000,3474.000000,3474.000000,3474.000000,3474.000000,1032.0,13.0,2155.0,3084.0,...,2475.000000,1.0,0.0,78.0,11.0,0.0,0.0,0.0,3474.000000,3474.000000
mean,9.519675e+08,16958.220207,1393.219632,633.242372,4669.620322,19.496546,1.0,1.0,1.0,1.0,...,-4386.545455,1.0,NaN,1.0,1.0,NaN,NaN,NaN,0.287853,0.141048
std,9.942397e+08,30696.286104,17216.664524,1600.962972,11527.566663,157.740969,0.0,0.0,0.0,0.0,...,22486.293337,NaN,NaN,0.0,0.0,NaN,NaN,NaN,0.452827,0.348121
min,6.780330e+05,3.000000,1.000000,0.000000,0.000000,0.000000,1.0,1.0,1.0,1.0,...,-39600.000000,1.0,NaN,1.0,1.0,NaN,NaN,NaN,0.000000,0.000000
25%,1.475541e+08,1810.250000,149.000000,169.000000,261.250000,0.000000,1.0,1.0,1.0,1.0,...,-25200.000000,1.0,NaN,1.0,1.0,NaN,NaN,NaN,0.000000,0.000000
50%,4.751671e+08,6609.000000,341.000000,319.000000,1286.000000,2.000000,1.0,1.0,1.0,1.0,...,-14400.000000,1.0,NaN,1.0,1.0,NaN,NaN,NaN,0.000000,0.000000
75%,1.655303e+09,19467.000000,803.750000,635.750000,4727.000000,8.000000,1.0,1.0,1.0,1.0,...,18000.000000,1.0,NaN,1.0,1.0,NaN,NaN,NaN,1.000000,0.000000
max,3.164942e+09,399555.000000,986837.000000,46310.000000,313954.000000,6166.000000,1.0,1.0,1.0,1.0,...,46800.000000,1.0,NaN,1.0,1.0,NaN,NaN,NaN,1.000000,1.000000

In [10]:
df_naive.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3474 entries, 0 to 3473
Data columns (total 42 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   id                                  3474 non-null   int64
 1   name                                3473 non-null   object
 2   screen_name                         3474 non-null   object
 3   statuses_count                      3474 non-null   int64
 4   followers_count                     3474 non-null   int64
 5   friends_count                       3474 non-null   int64
 6   favourites_count                    3474 non-null   int64
 7   listed_count                        3474 non-null   int64
 8   url                                 1266 non-null   object
 9   lang                                3474 non-null   object
 10  time_zone                           2475 non-null   object
 11  location                            2365 non-null   object
 12  default_profile                     1032 non-null   float64
 13  default_profile_image               13 non-null     float64
 14  geo_enabled                         2155 non-null   float64
 15  profile_image_url                   3474 non-null   object
 16  profile_banner_url                  3165 non-null   object
 17  profile_use_background_image        3084 non-null   float64
 18  profile_background_image_url_https  3474 non-null   object
 19  profile_text_color                  3474 non-null   object
 20  profile_image_url_https             3474 non-null   object
 21  profile_sidebar_border_color        3474 non-null   object
 22  profile_background_tile             1307 non-null   float64
 23  profile_sidebar_fill_color          3474 non-null   object
 24  profile_background_image_url        3474 non-null   object
 25  profile_background_color            3474 non-null   object
 26  profile_link_color                  3474 non-null   object
 27  utc_offset                          2475 non-null   float64
 28  is_translator                       1 non-null      float64
 29  follow_request_sent                 0 non-null      float64
 30  protected                           78 non-null     float64
 31  verified                            11 non-null     float64
 32  notifications                       0 non-null      float64
 33  description                         3095 non-null   object
 34  contributors_enabled                0 non-null      float64
 35  following                           0 non-null      float64
 36  created_at                          3474 non-null   object
 37  timestamp                           3474 non-null   object
 38  crawled_at                          3474 non-null   object
 39  updated                             3474 non-null   object
 40  test_set_1                          3474 non-null   int64
 41  test_set_2                          3474 non-null   int64
dtypes: float64(13), int64(8), object(21)
memory usage: 1.1+ MB

In [17]:
df_naive.select_dtypes('float64').apply(lambda x: x.unique())

default_profile                                                        [nan, 1.0]
default_profile_image                                                  [nan, 1.0]
geo_enabled                                                            [1.0, nan]
profile_use_background_image                                           [nan, 1.0]
profile_background_tile                                                [nan, 1.0]
utc_offset                      [nan, 32400.0, -14400.0, -7200.0, -18000.0, 28...
is_translator                                                          [nan, 1.0]
follow_request_sent                                                         [nan]
protected                                                              [nan, 1.0]
verified                                                               [nan, 1.0]
notifications                                                               [nan]
contributors_enabled                                                        [nan]
following                                                                   [nan]
dtype: object

In [18]:
df_bot.select_dtypes('float64').apply(lambda x: x.unique())

default_profile                                                        [1.0, nan]
default_profile_image                                                  [1.0, nan]
geo_enabled                                                            [1.0, nan]
profile_use_background_image                                           [1.0, nan]
profile_background_tile                                                [nan, 1.0]
utc_offset                      [7200.0, -7200.0, -25200.0, nan, 10800.0, -180...
is_translator                                                               [nan]
follow_request_sent                                                         [nan]
protected                                                                   [nan]
verified                                                                    [nan]
notifications                                                               [nan]
contributors_enabled                                                        [nan]
following                                                                   [nan]
test_set_1                                                             [1.0, nan]
test_set_2                                                             [nan, 1.0]
dtype: object

In [19]:
df_bot[['profile_banner_url']]

                                     profile_banner_url
0                                                   NaN
1     https://pbs.twimg.com/profile_banners/33212890...
2     https://pbs.twimg.com/profile_banners/39773427...
3     https://pbs.twimg.com/profile_banners/57007623...
4     https://pbs.twimg.com/profile_banners/63258466...
...                                                 ...
4907  https://pbs.twimg.com/profile_banners/23960954...
4908  https://pbs.twimg.com/profile_banners/23960990...
4909                                                NaN
4910  https://pbs.twimg.com/profile_banners/24294055...
4911                                                NaN

[4912 rows x 1 columns]

Since the cell will be left empty as 0 and fill in 1 otherwise, we can fill missing value with 0.0 for these columns.